.header_wrapper{
    list-style-type: none;
    background-color: white
}
.item_wrapper{
    @include size;
    width: 640px;
    padding-bottom: 7px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    &-list-atribut{
        text-decoration: none;
        color: black;
        opacity: 0.6;
        transition: 0.5s;
        font-family: Arial, Helvetica, sans-serif;
        &:hover{
            border-bottom: 3px solid rgb(0, 174, 255);
            padding-bottom: 5px;
            transition: 0.3s;
            color: black;
            opacity: 1;
        }
    }
}
